{% block bootstrap_datepicker_widget %}
{% spaceless %}
    <div class="input-append date bootstrap-datepicker" data-date="{{ value }}" data-date-format="{{ format|lower }}">
        {{ block('form_widget_simple') }}
        <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_timepicker_widget %}
{% spaceless %}
    <div class="input-append bootstrap-timepicker">
        <input type="text" {{ block('widget_attributes') }} 
        {% if value is not empty %}value="{{ value }}" {% endif %}
        data-minute-step="{{ minute_step }}"
        data-second-step="{{ second_step }}"
        {% if disable_focus %}data-disable-focus="{{ disable_focus }}" {% endif %}
        {% if with_seconds %}data-show-seconds="{{ with_seconds }}" {% endif %}
        />
        <span class="add-on"><i class="icon-time"></i></span>
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_daterangepicker_widget %}
{% spaceless %}
    <div class="input-prepend bootstrap-daterangepicker">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <input type="text" {{ block('widget_attributes') }} 
        {% if value is not empty %}value="{{ value }}" {% endif %}
        data-opens="{{ opens }}"
        data-separator="{{ separator }}"
        data-show-week-numbers="{{ show_week_numbers }}"
        data-show-dropdowns="{{ show_dropdowns }}"
        data-min-date="{{ min_date }}"
        data-max-date="{{ max_date }}"
        data-date-limit="{{ date_limit }}"
        data-ranges="{{ ranges }}"
        data-locale="{{ locale }}"
        />
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_email_widget %}
{% spaceless %}
    <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_percent_widget %}
{% spaceless %}
    <div class="input-append">
        {{ block('form_widget_simple') }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_money_widget %}
{% spaceless %}
    <div class="{% if input_prepend %}input-prepend{% endif %} {% if input_append %}input-append{% endif %}">
        {% if input_prepend %}
            <span class="add-on">{{ input_prepend }}</span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if input_append %}
            <span class="add-on">{{ input_append }}</span>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}

{% block bootstrap_colorpicker_widget %}
{% spaceless %}
    {% if use_component %}
        {{ block('bootstrap_colorpicker_component_widget') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block bootstrap_colorpicker_component_widget %}
{% spaceless %}
    <div class="input-append bootstrap-colorpicker color" data-color="{{ value }}" data-color-format="{{ format }}">
        {{ block('form_widget_simple') }}
        <span class="add-on">
            <i {% if value %}style="background-color: {{ value }}"{% endif %}></i>
        </span>
    </div>
{% endspaceless %}
{% endblock %}


{% block bootstrap_slider_widget %}
{% spaceless %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock %}
